doctype html
html
  head
    meta(charset='utf-8')
    title Watson API
    link(href='https://fonts.googleapis.com/css?family=Montserrat', rel='stylesheet')
    link(rel='stylesheet', href='css/style.css')
  body(bgcolor='#F5F5F5')
    #maindiv
      div
        h3(style='padding-left:10px;') PROJECT DATA
      #content #{Data}
    #modals
